html {
	font-family: 'Roboto Slab', Arial;
}

h2 {
	font-size: 45px;
	font-weight: bold;
	color: #003432;
}

body {
	background-color: #F2784B;
	font-size: 'Roboto Slab', Arial;
}


#social {
	margin: 0px 20px 0px 20px;
	width: 150px;
}

#social a {
	margin-right: 6px;
}

#social a:link {
	text-decoration: none;
}

#main-navigation {
	border-top: 5px solid #F2784B;
}

#callouts {
	color: #F2F1EF;
	font-size: 50px;
	margin: 175px 0px 0px 15px;
	text-align: center;
}

#callouts p {
	font-size: 16px;
}

#headline{
	color: #F2F1EF;
}

#sub-headline {
	color: #F2F1EF;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	-webkit-text-fill-color: #F2784B;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #F2F1EF;
}

#main-content {
	margin-top: 50px;
}

#about {

}

#projects {
	
}

#blog_archive {

}

#blog_archive a {
	display: inline-block;
	font-size: 20px;
	margin: 10px 0px 10px 0px;
}

#resume {

}

#loop-tabs {
	margin-top: 50px;
}