html {
	font-family: 'Roboto Slab', Arial;
}

h2 {
	font-size: 45px;
	font-weight: bold;
	color: #003432;
}

body {
	background-color: #F2784B;
	font-family: 'Roboto Slab', Arial;
}

#main-navigation {
	border-top: 5px solid #F2784B;
}

#callouts {
	color: #F2F1EF;
	font-size: 50px;
	margin: 125px 0px 0px 15px;
	text-align: center;
	font-family: 'Roboto Slab', sans-serif;
}

#callouts h3 {
	font-size: 25px;
}

#callouts p {
	font-size: 16px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 500;
}

#headline{
	color: #F2F1EF;
	font-size: 63px;
}

#sub-headline {
	color: #F2F1EF;
	font-size: 40px;
	font-family: 'Roboto Slab', sans-serif;
	-webkit-text-fill-color: #F2784B;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #F2F1EF;
}

#intro {
	margin-top: 50px;
	height: auto;
	padding-top: 175px;
	padding-bottom: 150px;
}

.navbar-dropdown {
	color: #777777;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	position: relative;
	display: block;
}

#social {
	text-align: left;
}

#social span {
	font-size: 25px;
}

#social a:link {
	color: #F89406;
}

#social a:visited {
	color: #F89406;
}

#social a:hover {
	color: #F2784B;
}

#projects {
	background-color: #ECECEC;
	border-top: 5px solid #95A5A6;
	height: auto;
	min-height: 1000px;
	color: #95A5A6;
	font-size: 18px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 500;
	padding-top: 40px;
	margin-top: -40px;
	padding-bottom: 150px;
}

#projects h2 {
	color: #F2784B;
	font-family: 'Oswald', sans-serif;
	font-size: 75px;
	margin: 10px 0px 30px 0px;
	-webkit-text-fill-color: #ECECEC;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #F2784B;
}

.project-title {
	color: #F2784B;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	margin: 0px 0px 30px 0px;
}

#projects a {
	color: #F2784B;
	font-size: 25px;
	margin: 0px 0px 0px 10px;
}

#projects .row {
	margin: 30px 0px 30px 0px;
}

#project-nav > li.active > a {
	background-color: #D2D7D3;
}

a.project-link {
	border: none;
	background-color: #F2784B;
	color: #ECECEC !important;
	width: 150px;
}

a.project-link:hover {
	color: #F2784B !important;
	background-color: #ECECEC !important;
}

.project-stack {
	color: #6C7A89;
	font-weight: bold;
}

#blog_archive {
	background-color: #6C7A89;
	border-top: 5px solid #F2784B;
	height: auto;
	color: white;
	font-family: 'Oswald', sans-serif;
	padding-top: 40px;
	margin-top: -40px;
	padding-bottom: 150px;
}

#blog_archive h2 {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 75px;
	margin: 75px 0px 30px 0px;
	-webkit-text-fill-color: #6C7A89;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}

#blog_archive a {
	display: block;
	font-size: 22px;
	margin: 30px 0px 10px 0px;
	color: #F4B350;
	text-decoration: underline;
}

.modal-title {
	color: #F2784B;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
}

.modal-body {
	font-family: 'Roboto Slab', sans-serif;
}

.modal button {
	color: #F2784B;
	border-color: #F2784B;
	background-color: white;
}

.modal button:hover {
	color: white;
	border-color: white;
	background-color: #F2784B;
}

.close {
	color: #F2784B;
	background-color: white;
}

.close:hover {
	color: #F2784B;
	background-color: white;
}


#resume {
	background-color: white;
	border-top: 5px solid #F2784B;
	height: auto;
	color: white;
	font-family: 'Oswald', sans-serif;
	padding-top: 40px;
	margin-top: -40px;
}

#resume h2 {
	color: #F2784B;
	font-family: 'Oswald', sans-serif;
	font-size: 75px;
	margin: 75px 0px 30px 0px;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #F2784B;
}

#resume h3 {
	color: #F2784B;
	font-family: 'Oswald', sans-serif;
}

#highlights {
	color: #F2784B;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	margin-bottom: 50px;
	text-align: center;
}

#highlights li {
	padding: 8px 0px 8px 0px;
}

#highlights span {
	margin: 0px 5px 0px 0px;
}

.resume-section-header {
	font-size: 40px;
}

.job-title {
	font-size: 30px;
	margin-left: 10px;
}

.company {
	font-size: 20px;
	margin-left: 25px;
}

#work-history li {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

#work-history ul :nth-child(odd) {
	background-color: #F8C472;
}

#work-history ul :nth-child(even) {
	background-color: #F1B268;
}

#education-history ul :nth-child(odd) {
	background-color: #F8C472;
}

#education-history ul :nth-child(even) {
	background-color: #F1B268;
}

.institution {
	font-size: 30px;
	margin-left: 10px;
}

.course {
	font-size: 20px;
	margin-left: 25px;
}

.panel.panel-default {
	background-color: #FEF7E5;
	margin-bottom: 50px;
}

.resume-links {
	display: block;
	text-align: right;
	position: relative;
	top: -40px;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	color: #95A5A6;
}

#footer {
	background-color: #F2784B;
	height: 60px;
	font-size: 35px;
	vertical-align: middle;
}

#footer a:link {
	color: white;
}

#footer a:visited {
	color: white;
}

#footer a:hover {
	color: #F8C472;
	background-color: #F2784B;
}

.loop-tabs {
	margin-top: 50px;
}