/*******
Main Structure
*******/

html {
	font-family: 'Roboto Slab', Arial;
}

h2 {
	font-size: 45px;
	font-weight: bold;
	color: #003432;
}

footer {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

/*******
Header
*******/

#main-navigation {
	font-family: 'Roboto Slab', Arial;
	font-size: 32px;
}

/*******
About Section
*******/

#headshot {
	margin: 20px;
}

#social {
	margin: 0px 20px 0px 20px;
	width: 150px;
}

#social a {
	margin-right: 6px;
}

#social a:link {
	text-decoration: none;
}

#main-content {
	margin-top: 50px;
}

/*******
Projects Section
*******/

#projects {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
	margin-bottom: 150px;
}

#project1, #project2, #project3 {
	margin: 60px 0px 0px 0px;
}

/*******
Blog Articles Section
*******/

#article-list {
	background-color: #808080;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	height: 250px;
	border: 1px solid black;
}

.article-column {
	width: 24%;
	display: inline-block;
}

.article-column a {
	display: block;
	margin: 20px 0 20px 0;
}

.article-column a:link, a:visited {
	color: black;
}

.article-link {
	display: inline-block;
	margin: 5px 0px 5px 0px;
}

/*******
Resume Section
*******/

#resume {
	margin-top: 100px;
	padding-bottom: 100px;
}

.job {
	margin-left: 25px;
}

.job-title, .company {
	margin: 5px 0px 0px 10px;
}



/*****
Blog Index Page
*****/

#blog-post-summaries {
	height: 1000px;
}

.post {
	padding: 0px 25px 0px 25px;
}

.post a:link {
	color: #003432;
}

#loop-tabs {
	margin-top: 50px;
}