#container {
	width: 700px;
	margin: auto;
	background-color: #00AFA9;
	padding: 40px;
	border-radius: 5px;
}

html {
	background-color: #FFF5E0;
	font-family: 'Roboto Slab', Arial;
}

/*******
Header
*******/

nav {
	clear: both;
	display: block;
	height: 50px;
	background-color: #4C4C4C;
	text-align: center;
}

nav a {
	font-family: 'Roboto Slab', Arial;
	font-size: 32px;
	margin: 0px 15px 0px 15px;
}

nav a:link, nav a:visited {
	color: #00AFA9;
	text-decoration: none;
}
/*********
Body
*********/

#blog-content {
	width: 80%;
	float: left;
}

#blog-navigation {
	width: 19.5%;
	float: right;
	margin-top: 25px;
}

#blog-navigation ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}

#blog-navigation ul li {
	margin: 12px;
}

code {
	display: block;
	background-color: #454545;
	font-size: 10px;
	color: #E6E6E6;
	padding: 4px;
}

/*********
Footer
*********/

footer {
	width: 100%;
	clear: both;
	text-align: center;
}
